body{
    background-color: white;
}

a{
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
img{
	display:block;
	margin:0px auto;
	width:350px;
	height:80px;
}

H2{
	text-align: center;
	color: gray;
	text-shadow:1px 1px 1px skyblue;
}

.logo{/*트립뷰 로고설정*/
    height: 100px;
    margin-top:50px;
    margin-bottom:30px;
}

.login-wrap{
	box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}

.login-wrap{/*로그인 부분*/

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px gainsboro;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:auto;
}
.login-id-wrap{
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-left:45px;
	text-align: left;
}
#input-id{
  	width: 300px;
  	height: 32px;
  	font-size: 15px;
  	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
#input-password{
width: 300px;
  	height: 32px;
  	font-size: 15px;
  	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
#input-password2{
width: 300px;
  	height: 32px;
  	font-size: 15px;
  	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
#input-id-check{
	margin-left :10px;
	width:80px;
	height:32px;
	font-size:15px;
	border:0;
	border-radius:15px;
	background-color: rgb(233, 233, 280);
	
}
#input-id-check:active{
	background-color:#0080ff;
	color:white;
	float: left;
}
.login-pw-wrap-1{
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	text-align:left;
    margin-left:45px;
}
.field-error{

	margin-left:25px;
	color:red;
	font-size: smaller;
}
#input-pw-1{
	width: 300px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}

.login-pw-wrap-2{
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	text-align:center;
}
#input-pw-2{
	width: 300px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}

.login-name{
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-left:45px;
}
#input-name{
	width: 200px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
.login-nickname{
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	text-align:left;
    	margin-left:45px;
}
#input-nickname{
	width: 300px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
#duplicate-username{
width : 80px;
height : 32px;
font-size: 15px;
border:0;
border-radius:15px;
outline : none;
background-color : skyblue;
}

.login-email{
	margin-top:20px;
	margin-bottom:0px;
	padding-bottom:0px;
	text-align:left;
	margin-left:45px;
}

#input-email{
	width: 300px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}


.signup-btn-wrap{ /*회원가입박스*/
	margin-top:20px;
	text-align: center;
	margin-bottom:30px;
}
#signup-btn{
	width:300px;
	height:35px;
	border:0;
	border-radius:3px;
	background-color: #0080ff;
	color: white;	
}
.fieldError{
    color:red;
    font-size:smaller
}

