body{
    background-color: white;
}

a{
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
img{
	display:block;
	margin:0px auto;
	width:350px;
	height:80px;
}
H2{
	text-align: center;
	color: gray;
	text-shadow:1px 1px 1px skyblue;
	
}
.field-error{
	border-color:#dc3545;
	color: #dc3545;
}
#error-div{
	margin-left:50px;
}

.logo{/*트립뷰 로고설정*/
    height: 100px;
    margin-top:50px;
    margin-bottom:30px;
}


.login-wrap{
	box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}

.login-wrap{/*로그인 부분*/

    margin: 0px 10px 8px 10px;
    padding: 10px;
    border: solid 1px gainsboro;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height:auto;
}
.login-id-wrap{
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
}
#input-id{
  	width: 300px;
  	height: 32px;
  	font-size: 15px;
  	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
#input-code{
    width: 300px;
   	height: 32px;
 	font-size: 15px;
   	border: 0;
    border-radius: 15px;
   	outline: none;
   	padding-left: 10px;
   	background-color: rgb(233, 233, 233);
}
.login-pw-wrap{
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}
#input-pw{
	width: 300px;
	height: 32px;
	font-size: 15px;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
}
.under-login{/*자동로그인*/
	float:left;
	margin-left:50px;
	margin-top:0px;

}
.idpw-find{/*아이디비번찾기*/
	float:right;
	margin-right:50px;
	margin-top:0px;

}

.login-btn-wrap{/*로그인박스*/
	margin-top:20px;
	text-align: center;
}
#login-btn{
	width:300px;
	height:35px;
	border:0;
	border-radius:3px;
	background-color: #0080ff;
	color: white;	
}
#login-btn-google{
	width:300px;
	height:35px;
	border:0;
	border-radius:3px;
	background-color: black;
	margin:auto;
	margin-top:auto;
}
#login-btn-kakao{
	width:300px;
	height:35px;
	border:0;
	border-radius:3px;
	background-color: yellow;
	color: black;
	margin:auto;
    margin-top:auto;

}
#login-google{
color:white;
}
.signup-btn-wrap{ /*회원가입박스*/
	margin-top:20px;
	text-align: center;
	margin-bottom:30px;
}
#signup-btn{
	width:300px;
	height:35px;
	border:0;
	border-radius:3px;
	background-color: #0080ff;
	color: white;	
}

