<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" href="/css/user/login.css">
  <script src="/login.js"></script>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="logo">
  <a th:href="@{/}" title="메인 페이지"><img src="../../css/image/Tripview.png" class="image"></a>
</div>

<section class="login-wrap">

  <H2>비밀번호 찾기</H2>

  <div class="login-id-wrap">
    <form th:action="@{/emailConfirm}" method="post" th:object="${emailDto}">
      <input type="email" th:field="*{email}" name="email" id="input-id"  placeholder="가입시 등록한 이메일을 입력하세요."></input>
      <button type="submit" id="checkEmail">OK</button>

      <p th:text="${Message}" name="Message"> </p>
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
    </form>
    <form th:action="@{/emailConfirm/code}" method="post">
      <input type="hidden" name="inputEmail" th:value="${email}">
      <input type="text" name="authKey" id="input-code" placeholder="이메일로 받은 인증코드를 입력하세요.">
      <input type="hidden" name="codeConfirm" th:value="${codeConfirm}">
      <script>
        var codeConfirm = $('input[name=codeConfirm]').val();
        console.log("로그 체크 : ");
        console.log("로그 체크 : "+codeConfirm);

         if(codeConfirm == "true"){

         console.log("로그 체크 : if문 안에 true");
         document.querySelector('#input-code').disabled = false;
        }else if(codeConfirm == "false"){
        console.log("로그 체크 : if문 안에 false");
        document.querySelector('#input-code').disabled = true;


        }
      </script>
      <button type= "submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">인증</button>
      <p th:text="${codeMessage}" name="codeMessage"> </p>
    </form>
  </div>

  <div class="login-btn-wrap"><!--로그인 버튼-->
    <button type="button" id="login-btn" onclick="location.href='/user/login'">다시 로그인하기</button>
  </div>


  <div class="signup-btn-wrap"><!--회원가입 버튼-->
    <button type="button" id="signup-btn" onclick="location.href='/'">홈으로</button>
  </div>


</section>


</body>
</html>
