<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tripview 로그인</title>
    <link rel="stylesheet" href="/css/user/login.css">
    <script src="/login.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="logo">
    <a th:href="@{/}" title="메인 페이지"><img src="../../css/image/Tripview.png" class="image"></a>
</div>

<section class="login-wrap">

        <H2>로그인 실패!</H2>

        <div class="login-btn-wrap"><!--로그인 버튼-->
            <button type="button" id="login-btn" onclick="location.href='/user/login'">다시 로그인하기</button>
        </div>


    <div class="signup-btn-wrap"><!--회원가입 버튼-->
        <button type="button" id="signup-btn" onclick="location.href='/'">홈으로</button>
    </div>


</section>


</body>
</html>


        