<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>회원정보 수정</title>
  <link rel="stylesheet" href="/css/user/join.css">
</head>

<body>

<div class="logo">
  <a th:href="@{/}" title="메인 페이지"><img src="../css/image/Tripview.png" class="image"></a>
</div>

<section class="login-wrap">
  <form th:action="@{/emailConfirm/code/ok}" method="post" >
    <input type="hidden" name="_method" value="PUT">
    <H2>비밀번호 변경</H2>
    <div class="login-id-wrap">
      <H4>변경할 비밀번호</H4>
      <input type="hidden" id="input-email" name="email" th:value="${email}"/>
      <input type="password" name="password" id="input-password" placeholder="변경할 비밀번호를 입력해주세요."></input>
    </div>
    <div class="login-email">
      <H4>비밀번호 확인</H4>
      <input type="password" name="password2"  id="input-password2" placeholder="비밀번호 재입력해주세요."></input>
    </div>

    <p th:text="${message}" name="message"> </p>
    <div class="signup-btn-wrap"><!-- 개인정보수정 버튼-->
      <button type="submit" id="signup-btn" >비밀번호변경</button>
    </div>
  </form>
</section>


</body>
</html>