<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="margin:100px;">
  <h1>안녕하세요</h1>
  <h2>정영화의 Tripview 사이트입니다.</h2>
  <br>
    <p>아래 코드를 인증 창으로 돌아가 입력해주세요.</p>
  <br>

  <div align="center" style="border:1px solid black; font-family:verdana;">
    <h3 style="color:blue">회원가입 인증 코드입니다.</h3>
      <div style="font-size:130%" th:text="${code} "></div>
  </div>
  <br/>

  </div>

</div>

</body>
</html>